.email_fp {
    background-color: #edebec;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: left;
    background-repeat: repeat;
  }
.email_fp  h2 {
    text-align: left;
    padding: 20px;
    margin: 0;
  }
.email_fp  .top_head {
    padding: 0 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.email_fp  .proImg {
    align-self: center;
  }

.email_fp  .form {
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
.email_fp  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 8px;
  }
.email_fp  .sub {
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }
.email_fp  .submit {
    width: 100%;
    margin: auto;
    text-decoration: none;
    color: white;
    text-align: center;
  }
@media screen and (min-width: 600px) {
    form {
      max-width: 400px;
    }
  }