.changePassword-fp-head {
    background-color: #edebec;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-position: left;
    background-repeat: repeat;
  }
.changePassword-fp-head  h2 {
    text-align: left;
    padding: 20px;
    margin: 0;
  }
.changePassword-fp-head  .top_head {
    padding: 0 2rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.changePassword-fp-head  .proImg {
    align-self: center;
  }

.changePassword-fp-head  .form {
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
.changePassword-fp-head  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
  }
.changePassword-fp-head  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 8px;
  }
.changePassword-fp-head  .sub2 {
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  @media screen and (min-width: 600px) {
    form {
      max-width: 400px;
    }
  }